<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Despre mine</title>
		<meta name="description" content="Despre autorul acestor poze" />
		<meta name="keywords" content="fotografie, expozitie, biografie, camera, foto, Nikon" />
		<%- include("../fragmente/meta"); %>

		<script src="js/creare_cuprins.js"></script>
	</head>

	<body>
		<div class="sectiune-principala">
			
			<%- include("../fragmente/header") %>
			
			<main class="despre-mine">
				
				<h1>Despre mine</h1>
				
				<section id="s1" class="sectiune-despre-mine-1">
					<h2>Cine sunt eu?</h2>
					<p>După cum spune și titlul, numele meu este Cosmin. Am 20 de ani și sunt student în anul I la <i>Facultatea de Matematică și Informatică</i> a <i>Universității din București</i>.</p>
				</section>
				
				<section id="s2" class="sectiune-despre-mine-1">
					<h2>Cum a început să îmi placă fotografia?</h2>
					<section id="s2.1" class="sectiune-despre-mine-2">
						<h3>Începutul</h3>
						<p>Când aveam 4 ani, tata a cumpărat prima noastră cameră foto digitală, o Fujifilm. La vremea ei, era destul de bună pentru începători și o luam cu noi în toate vacanțele. Deși tata făcea majoritatea pozelor, eu fiind mai preocupat cu joaca, mă mai distram și eu din când în când cu camera.</p>
					</section>
					<section id="s2.2" class="sectiune-despre-mine-2">
						<h3>Devenind experimentat</h3>
						<p>În vara lui 2015, am mers în foarte multe drumeții prin munții Bucegi, Făgăraș, Postăvaru și mulți alții. Camera noastră Fujifilm era deja învechită, așa că toate pozele le-am făcut cu telefonul. Din păcate, calitatea acelor poze este rea spre groaznică, motiv pentru care nici nu le veți vedea pe acest site.</p>
						<p>Dându-mi seama că îmi place mult să fac poze, în toamna următoare mi-am cumpărat prima mea cameră foto DSLR, o Nikon D3300, pe care o folosesc și azi. De atunci, o iau cu mine de fiecare dată când merg într-un loc nou, cât și atunci când revizitez un loc frumos. Cel mai mult îmi place când faci poze în același loc, în zile diferite sau chiar în perioade ale anului diferite, iar cele două poze arată complet diferit din cauza schimbărilor de lumină, de vreme sau pur și simplu odată cu trecerea timpului.</p>
					</section>
					
				</section>
				
				<section id="s3" class="sectiune-despre-mine-1">
					<h2>Echipament</h2>
					<p>Aici puteți vedea toată aparatura care a fost folosită pentru a face fotografiile care sunt pe site.</p>
					<ul>
						<li>Camere foto:
							<ul>
								<li><b>Nikon D3300</b></li>
								<li><b>Samsung Galaxy J6+</b></li>
							</ul>
						</li>
						<li>Obiective:
							<ul>
								<li><b>Nikon 18-55mm VR II AF-s DX</b></li>
							</ul>
						</li>
						<li>Trepied</li>
					</ul>
				</section>
				
				<figure>
					<img src="imagini/img_despre_mine.jpg" />
					<figcaption>Eu, fotografiind Bucureștiul</figcaption>
				</figure>

				<script src="js/aparitie_treptata_cuvant.js"></script>
			</main>
			
			<%- include("../fragmente/footer") %>
			
		</div>
	</body>
</html>
