<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Pozele mele</title>
		<meta name="description" content="Expozitie de peisaje fotografiate in Romania" />
		<meta name="keywords" content="fotografie, expozitie, peisaje" />
		<%- include("../fragmente/meta"); %>
	</head>

	<body>
		<div class="sectiune-principala">
			
			<%- include("../fragmente/header") %>
			
			<main>
				
			</main>
			
			<%- include("../fragmente/footer") %>
			
		</div>
	</body>
</html>
